extends  layout2

block content   
  .panel.panel-default
      .panel-heading
        | Form for the inventory
      .panel-body
        .row
          .col-lg-9
            form(role='form')
              .form-group
                label Control Number
                input.form-control(type='number', min='0000', max='9999', placeholder='0000')
              .form-group
                label Selects
                select.form-control
                  option Electricfan
                  option Breadboard
                  option Screwdriver
                  option Extension
                  option Multimeter
                  option Alligator Clip
                  option Wire Stripper
                  option Pickit 2 Clone
                  option Oscilloscope
                  option Power Supply
              .form-group
                label Name of Material
                input.form-control(placeholder='Enter text')
              .form-group
                label Number of Items
                select.form-control(multiple='')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
              button.btn.btn-default(type='submit') Cancel
              button.btn.btn-default(type='reset') Submit
