extends layout2

block content
	.panel.panel-default 
		.panel-heading
			i.fa
			|  Borrower's Information
		.panel-body
			.table-responsive
		table#dataTables-example.table.table-striped.table-bordered.table-hover
			thead
				tr
					th#date          			Date 
					th#studentNumber          	Student Number
					th#lastName   				Last Name 
					th#firstName           		First Name
					th#userName  				Username 
			tbody
				tr
				td
				td 
				td 
				td 
				td 
