extends layout1

block content
  h1.title
    a Hello, there! 
  .box (action='/login', method='post')
    label.label Username
    p.control
      input.input(name='username', type='text')
    label.label Password
    p.control
      input.input(name='password', type='password', placeholder='●●●●●●●')
    hr
    p.control
      button.button.is-primary Log in
      button.button.is-default
        a(href='/register') Register
