extends layout1

block content
  h1.title
    a Hello, there!
  .box(action='login', method='post')
    label.label Email
    p.control
      input.input(name='email', type='text', placeholder='jsmith@example.org')
    label.label Password
    p.control
      input.input(name='password', type='password', placeholder='●●●●●●●')
    hr
    p.control
      button.button.is-primary Log in
      button.button.is-default
        a(href='/auth/register') Register
