extends layout1

block content
  h1.title
    | Register an Account
  .box
    form(action='/register', method='post')
      label.label Username
      p.control
        input.input(name='username', type='text', placeholder='John')
      label.label First Name
      p.control
        input.input(name='firstName', type='text', placeholder='John')
      label.label Last Name
      p.control
        input.input(name='lastName', type='text', placeholder='Smith')
      label.label Student Number
      p.control
        input.input(name='studentNumber', type='text', maxlength="15", placeholder='2012-01234-MN-0')
      label.label Section
      p.control
        input.input(name='section', type='number', min="1", max="5")
      label.label Password
      p.control
        input.input(name='password', type='password', placeholder='●●●●●●●')
      label.label Confirm Password
      p.control
        input.input(name='confirmPassword', type='password', placeholder='●●●●●●●')
      hr
      p.control
        button.button.is-primary Register
        button.button.is-default
          a(href='/login') Cancel