extends layout1

block content
  h1.title
    | Register an Account
  .box
    form(action='register', method='post')
      label.label First Name
      p.control
        input.input(name='firstName', type='text', placeholder='John')
      label.label Last Name
      p.control
        input.input(name='lastName', type='text', placeholder='Smith')
      label.label Student Number
      p.control
        input.input(name='studentNumber', type='text', placeholder='2012-01234-MN-0')
      label.label Email
      p.control
        input.input(name='email', type='email', placeholder='j.co@gmail.com')
      label.label Password
      p.control
        input.input(name='password', type='password', placeholder='●●●●●●●')
      label.label Confirm Password
      p.control
        input.input(name='passwordCon', type='password', placeholder='●●●●●●●')
      hr
      p.control
        button.button.is-primary Register
        button.button.is-default
          a(href='/auth/login') Cancel
