extends layout2

block content 
  .panel.panel-default
    .panel-heading
      | List of data of inventories   
    .panel-body
      .table-responsive
        table#dataTables-example.table.table-striped.table-bordered.table-hover
          thead
            tr
              th Number of Items available 
              th Room 
              th Material Name
              th Control Number
          tbody
            tr
              td 
              td 
              td 
              td 
