extends layout2

block content 
  .panel.panel-default
    .panel-heading
      | List of data of inventories   
    .panel-body
      .table-responsive
        table#dataTables-example.table.table-striped.table-bordered.table-hover
          thead
            tr
              th#image          Image 
              th#item           Number of Items available 
              th#room           Room 
              th#materialName   Material Name 
              th#controlNumber  Control Number 
          tbody
            tr
              td
              td 
              td 
              td 
              td 
